@tailwind base;
@tailwind components;
@tailwind utilities;

/* ======================= Start Global Rules ======================= */
.glassmorphism {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px)
}
.glassmorphism2 {
  background: rgba(18, 17, 17, 0.25);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px)
}
.bg-orange { @apply bg-orange-1 }
.bg-blue { @apply bg-blue-1 }
.bg-purple { @apply bg-purple-1 }
.bg-yellow { @apply bg-yellow-1 }
/* ======================= End Global Rules ======================= */

/* ======================= Start Clerk Class Override ======================= */
.cl-userButtonPopoverActionButtonIcon { color: white }
.cl-logoBox { height: 40px }
.cl-dividerLine { background: #252a41; height: 2px }
.cl-socialButtonsIconButton { border: 3px solid #565761 }
.cl-internal-wkkub3 { color: white }
.cl-userButtonPopoverActionButton { color: white }
.cl-providerIcon__github { filter: invert(1)}
/* ======================= End Clerk Class Override ======================= */